@model System.String
@{
    Layout = null;
}

@helper ListArrayItem(String[] items)
{
    foreach (var str in items)
    {
        <b>@str</b>
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Here are the fruits: @ListArrayItem(ViewBag.Fruits)
        @*@foreach (var item in (String[])ViewBag.Fruits)
        {
            <b>@item</b>
        }*@
        Here are the cities:@ListArrayItem(ViewBag.Fruits)
        @*@foreach (var item in (String[])ViewBag.Cities)
        {
            <b>@item</b>
        }*@
    </div>
    <div>
        Here is the message:
        <p>@Model</p>
    </div>
</body>
</html>
